    *{
    margin: 0;
    box-sizing: border-box;
}
body{
    text-align: center;
    font-size: 1.7em;
    letter-spacing: 0.1em;
}
h1{
     font-family: 'Caramel', cursive;
}
h2, h3{
 font-family: 'Scheherazade New', serif;
}
p{
    font-size: 0.7em;
    font-family: PT_Sans_Narrow;
    padding: 10px 15px;
}
#row1{
    padding: 10px;
}
a{
    text-decoration: none;
    margin: 10px;
}
.btn{
    background-color: #C3F9ED;
    border-radius: 15px;
    padding: 5px;
    font-size: 20px;
    
}
#row1 img{
   float: left;
    margin: 1px;
width: 35%;
    height: 150px;
    margin-right: 20px;
}
#first-container{
        background-color: #C3F9ED;
}
.bottom-cloud{
    position: absolute;
    padding: 10px;
}
.top-cloud{
    position: relative;
    left: 200px;
    padding: 10px;
}
.kene{
            padding: 0;
            width: 200px;
        clip-path:circle();
  
        }  
h1, h2{
    color: #66bfbf;
}
h3, a{
    color: #11999E;
}
#boma{
    width: 35%;
    height: 250px;
    float: right;
    padding: 5px;
    margin-left: 20px;
    
}
.contact-me{
    margin: 50px auto;
}
#row2{
    height: 230px;
    padding: 15px;
}
.skill-row{
    width: 80%;
    margin: 30px auto;
}
.profile{
    width: 80%;
    margin: auto;
}
.bottom-container{
    margin: auto;
    margin-top: 50px;
    padding: 50px;
    background-color: #C3F9ED;
}
.footer-link{
    font-size: 20px;
    padding: 10px;
}